---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize", "skeleton";

body{
  font-family:'Noto Sans',sans-serif;
  font-size:14px;
}
.logo{
  text-align:center;
}
.logo img{
  margin:2em auto 6em auto;
  width:60%;
  min-width:300px;
}
h2{
  font-size:2.0rem;
}
h3{
  font-size:1.5rem;
  text-transform:uppercase;
  font-weight:bold;
}
